{% assign author = site.data.authors[page.author] %}
<div class="container">
    <hr />
    {% if site.about_footer %}
        {% if author %}
            {% assign profile_picture = author.image %}
        {% else %}
            {% assign profile_picture = site.no-profile %}
        {% endif %}
        {% if profile_picture %}
            <div id="img-about">
                <img class="about-img pull-left" src="{{ profile_picture }}">
            </div>
        {% else %}
            <div class="no-image" id="img-about">
            </div>
        {% endif %}
        <div class="about-stub">
            {% if author %}
                {% assign author_site = author.about %}
            {% else %}
                {% assign author_site = "about" %}
            {% endif %}
            <a class="different-highlight" href="{{ author_site }}">
                <h2 style="font-family: Montserrat">
                    {% if author %}
                        {{ author.name }}
                    {% else %}
                      {% if page.author %}
                        {{ page.author }}
                      {% else %}
                        {{ site.author }}
                      {% endif%}
                    {% endif %}
                </h2>
            </a>
            {% if author %}
                <p id="about-description" style="margin-top: 4px;">
                    {{ author.about }}
                </p>
            {% else %}
                <p id="about-description" style="margin-top: 4px;">
                    
                </p>
            {% endif %}
        </div>
    {% endif %}
</div>
<div style="clear:both"></div>
