.highlight {
  width: 100%;
  margin-left: 0;
}

pre code {
  border-radius: 10px;
  font-family:  $code-font;
  padding: $base-spacing $base-spacing/10;
  @media(max-width: $break-small) {
      font-size: 10px;
  }
}

.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
