.highlight {
  width: 100%;
  margin-left: 0;
}

pre code {
  font-family:  $code-font;
}

code {
  font-family:  $code-font;
  background-color: #f3f3f3;
  padding-left: 3px;
  padding-right: 3px;
  color: #555;
}
