// Font stacks
$font-stack-one: "Avenir", "Lato", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔바른고딕", "NanumBarunGothic", "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic", "돋움", "dotum", "AppleGothic", "sans-serif";
$font-stack-three: "Avenir", "Lato", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔바른고딕", "NanumBarunGothic", "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic", "돋움", "dotum", "AppleGothic", "sans-serif";
$code-font: 'Monaco';

// Spacing and Sizes
$base-font-size: 16px;
$base-line-height: 1.5;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$max-width: 800px;

$break-small: 480px;
$break-medium: 700px;
$break-large: 980px;

$big-circle-size: 30px;
$footer-size: 230px;
$about-image-size: 100px;

// Colors
$accent-color: #ff0f00;//#2358D1;
$underline-color: #E1E1E1;
$light-color: #D4D4D4;
$medium-gray-color: #999;
$light-gray-color: #ccc;
$git-black-color: #333333;
$well-color: #f7f7f7;

/* Solarized Colors */
$sol-base1: #93a1a1;
